.focusPlayBackground {
  background: rgba(255, 76, 76, 0.71);
}

.shortBreakPlayBackground {
  background: rgba(77, 218, 110, 0.62);
}

.longBreakPlayBackground {
  background: rgba(76, 172, 255, 0.62);
}
